PORT=8080
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=your_password
DB_NAME=latrode
FRONTEND_PATH=../frontend
SECRET_KEY=change-this-to-a-secure-key
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
GOOGLE_REDIRECT_URL=http://localhost:8080/api/v1/auth/google/callback
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-app-password
SMTP_FROM=your-email@gmail.com
TG_BOT_TOKEN=your-telegram-bot-token
TG_CHAT_ID=your-telegram-chat-id
WOMPI_PUBLIC_KEY=your-key-public-or-test-key
WOMPI_SECRET_KEY=your-key-secret-or-test-key
WOMPI_INTEGRITY_KEY=your-integrity-key-or-test-key
WOMPI_EVENTS_KEY=your-events-key-or-test-key
WOMPI_SANDBOX=false-if-not-sandbox
